body {
    font-family: 'Mulish', sans-serif;
}
.divider-line {
    width: 50px; /* Largura da linha */
    height: 3px; /* Espessura */
    background-color: black; /* Cor da linha */
    margin: 10px auto; /* Centraliza */
}
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adicione um sombreamento suave */
    transition: transform 0.2s; /* Animação ao passar o mouse */
  }
  
  .card:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
  }
  
  .container.text-center {
    margin-top: 20px; /* Espaçamento entre a divisão e os cards */
  }