body {
    font-family: 'Mulish', sans-serif;
}
.divider-line {
    width: 50px; /* Largura da linha */
    height: 3px; /* Espessura */
    background-color: black; /* Cor da linha */
    margin: 10px auto; /* Centraliza */
}
